@media only screen and (min-width: 400px) and (max-width: 450px) {
  body {
    background: #191919;
  }

  .gallery {
    width: 840px;
    display: flex;
    overflow-x: scroll;
    gap: 51px;
  }

  .gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 20px;
    flex: none;
  }

  .gallery div img {
    height: 30vh;
    filter: grayscale(100%);
    transition: transform 0.5s;
  }

  .gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    margin-top: 20vh;
  }

  #backBtn {
    cursor: pointer;
    width: 50px;
    margin: 40px;
    position: absolute;
    bottom: 0px;
    left: 10px;
  }

  #nextBtn {
    cursor: pointer;
    width: 50px;
    margin: 40px;
    position: absolute;
    bottom: 0px;
    right: 10px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 400px) {
  body {
    background: #191919;
  }

  .gallery {
    width: 840px;
    display: flex;
    overflow-x: scroll;
    gap: 51px;
  }

  .gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 20px;
    flex: none;
  }

  .gallery div img {
    height: 30vh;
    filter: grayscale(100%);
    transition: transform 0.5s;
  }

  .gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    margin-top: 20vh;
  }

  #backBtn {
    cursor: pointer;
    width: 50px;
    margin: 40px;
    position: absolute;
    bottom: 0px;
    left: 10px;
  }

  #nextBtn {
    cursor: pointer;
    width: 50px;
    margin: 40px;
    position: absolute;
    bottom: 0px;
    right: 10px;
  }
}
